@font-face {
    font-family: 'geomanist-regular';
    src: url('/fonts/geomanist-regular-webfont.ttf');
}

.main-text {
    font-family: 'geomanist-regular';
    font-size: 64px;
    font-weight: 600;
    line-height: 60px;
    text-align: center;
}

.h1 {
    font-family: 'geomanist-regular';
    font-weight: 600;
    font-size: 48px;
}

.h2 {
    font-size: 28px;
}

.h3 {
    font-size: 16px;
}

.g-regular {
    font-family: 'geomanist-regular';
    font-size: 40px;
}


.p-regular {
    font-size: 40px;
}
